xterm*faceName:     Droid Sans Mono:style=Regular:size=12
xterm*background:   #222222
xterm*foreground:   #cccccc
xterm*saveLines:    10000
xterm*color1:       #ff6040
xterm*color9:       #ff2B00
xterm*color2:       #80ff40
xterm*color10:       #54ff00
xterm*color3:       #efff40
xterm*color11:      #d3ff00
xterm*color4:       #40dfff
xterm*color12:      #00d3ff
xterm*color5:       #ff4090
xterm*color13:      #ff00d3
xterm*color6:       #40ffB0
xterm*color14:      #00ff96
xterm*color7:       #bbbbbb
xterm*color8:       #444444
xterm*metaSendsEscape: true
urxvt*background:   #222222
urxvt*font:         xft:Droid Sans Mono:size=12:style=Regular
urxvt*foreground:   #cccccc
urxvt*pointerBlank: true
urxvt*saveLines:    500
urxvt*scrollBar:    false
urxvt.termName:     rxvt-unicode-256color
urxvt.urgentOnBell: true
urxvt.visualBell:   false
