style "default" {
  fg[NORMAL]     = "#cccccc"
  bg[NORMAL]     = "#000000"
  color["red"]   = "#ff8eff"
  color["blue"]  = "#53f2dc"
  color["green"] = "#63de5d"
}

widget "Taffybar" style "default"
gtk-font-name="Droid Sans Mono 11"