style "default" {
  fg[NORMAL]     = "#cccccc"
  bg[NORMAL]     = "#000000"
  color["red"]   = "#ff6040"
  color["blue"]  = "#40dfff"
  color["green"] = "#80FF40"
}

widget "Taffybar" style "default"
gtk-font-name="Droid Sans Mono 11"